@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');


.back {
    margin-top: 60px !important;
    background-image: url('../images/second.png') !important;
    background-repeat: no-repeat !important;
    background-position: 90% 40% !important;
    background-color: rgb(238, 238, 139) !important;
    height: 450px;
}

#back2 {
    font-family: 'Galada', cursive;        
}

.button {
    background-color: steelblue !important;
}